header {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    height: 0;
}

/*#scroller {
    background-color: #3B7EA1;
}*/

body {
    background-color: #000000;
    color: #EEEEEE;
}

h1,
h2,
h3 {
    color: #EEEEEE;
}

a {
    color: #00A598;
}

a:hover {
    color: #3B7EA1;
}

.hbar {
    color: #EEEEEE;
    border-bottom-width: 2px;
}

/*h2 {
    border-bottom: 1px #EEEEEE dashed;
}*/

.paper-icon {
    display: None;
}

.headshot {
    border: 1px solid #000000;
}

.announcement {
    border: 2px solid #EEEEEE;
}

.mentee {
    text-decoration-color: #3B7EA1;
    text-decoration-thickness: 2px;
}
